@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body {
	background: linear-gradient(-45deg,  #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 3s ease infinite;
	height: 100vh;
  font-family: 'Quicksand', sans-serif;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.nav-link {
  animation-name: navAnimation;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

.navTitle {
  animation-name: navAnimation;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

@keyframes navAnimation {
  0%   {color: rgb(213, 141, 213);}
  25%  {color: pink;}
  50%  {color: lightblue;}
  75% {color: white;}
  100% {color: rgb(213, 141, 213);}
}

.page-div  {
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;

}

.page {
  background-color: black;
  width: fit-content;
  padding: 100px;
  background-color: rgba(0, 0, 0, .4);
  border-radius: 100px / 70px;
  text-align: center;
}

.page-fade-in {
  animation: fadeIn 3s;
}


@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}



.page-title {
  color: white;
}

.page-text {
  color: white;
  padding-top: 25px;
  text-align: start;
  width: 60vw;
} 

.change-icon-size {
  font-size: 5vw !important ;
  padding: 10px;
}